<!doctype html>
<html lang="sv">
	<head>
  <meta charset="utf-8">
		<link rel="dns-prefetch" href="https://identity.netlify.com">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SVS</title>
		<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>

	<body>

	<h1>Sällskapet Vikingatida Skepp</h1>

	<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
		<main>
			{{ layoutContent | safe }}
		</main>

		<script src="/scripts/netlifyIdentity.js" ></script>
	</body>

</html>
