<!doctype html>
<html lang="sv">
	<head>
  <meta charset="utf-8">
		<link rel="dns-prefetch" href="https://identity.netlify.com">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SVS</title>
		<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>

	<body>
		<main>
			{{ layoutContent | safe }}
		</main>
	</body>

</html>
